@import url(./open_sans.min.css);

@import url(./roboto.min.css);

.landing-page .carousel-caption h1,.landing-page .carousel-caption p {
  text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 100;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

h3,h4,h5 {
  margin-top: 5px;
  font-weight: 600;
}

.nav>li>a {
  color: #a7b1c2;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}

.nav.navbar-right>li>a {
  color: #999c9e;
}

.nav>li.active>a {
  color: #fff;
}

.navbar-default .nav>li>a:focus,.navbar-default .nav>li>a:hover {
  background-color: #293846;
  color: #fff;
}

.nav.navbar-top-links>li>a:focus,.nav.navbar-top-links>li>a:hover,.navbar-default {
  background-color: transparent;
}

.nav>li>a i {
  margin-right: 6px;
}

.navbar {
  border: 0;
}

.navbar-default {
  border-color: #2f4050;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 40px;
}

.navbar-top-links li a {
  padding: 20px 10px;
  min-height: 50px;
}

code {
  white-space: nowrap;
}

.nav-header {
  padding: 33px 25px;
  background: url(patterns/header-profile.png) no-repeat;
}

.nav>li.active {
  border-left: 4px solid #ff851f;
  background: #293846;
}

.nav-header a {
  color: #DFE4ED;
}

.nav.navbar-top-links a {
  font-size: 14px;
}

.navbar-default .landing_link a {
  background: #ff851f;
  color: #fff;
}

.navbar-default .landing_link a:hover {
  background: #ff851f!important;
  color: #fff;
}

.navbar-fixed-top {
  transition-duration: .4s;
  border-bottom: 1px solid #e7eaec!important;
  z-index: 2030;
}

.navbar-fixed-top,.navbar-static-top {
  background: #f3f3f4;
}

.fixed-nav #wrapper {
  margin-top: 0;
}

body.fixed-nav #wrapper #page-wrapper {
  margin-top: 60px;
}

body.top-navigation.fixed-nav #wrapper #page-wrapper {
  margin-top: 0;
}

.top-navigation #page-wrapper {
  margin-left: 0;
}

.top-navigation .navbar {
  margin-bottom: 0;
}

.top-navigation .nav>li>a {
  padding: 15px 20px;
  color: #676a6c;
}

.top-navigation .nav>li a:focus,.top-navigation .nav>li a:hover {
  background: #fff;
  color: #ff851f;
}

.top-navigation .nav>li.active {
  background: #fff;
  border: none;
}

.top-navigation .nav>li.active>a {
  color: #ff851f;
}

.top-navigation .navbar-right {
  margin-right: 10px;
}

.btn-default.active,.btn-default:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .15) inset;
}

.top-navigation .navbar-brand {
  background: #ff851f;
  color: #fff;
  padding: 15px 25px;
}

.btn-primary.active,.btn-primary:active,.btn-success.active,.btn-success:active {
  background-image: none;
}

.top-navigation .navbar-top-links li:last-child {
  margin-right: 0;
}

.fixed-nav #wrapper.top-navigation,.top-navigation.fixed-nav #wrapper {
  margin-top: 50px;
}

.top-navigation .wrapper.wrapper-content {
  padding: 40px;
}

.navbar-toggle {
  background-color: #ff851f;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
}

@media (max-width:768px) {
  .top-navigation .navbar-header {
    display: block;
    float: none;
  }
}

.btn {
  border-radius: 3px;
}

.btn-primary.btn-outline {
  color: #ff851f;
}

.btn-success.btn-outline {
  color: #1c84c6;
}

.btn-primary.btn-outline:hover,.btn-success.btn-outline:hover {
  color: #fff;
}

.btn-primary {
  background-color: #ff851f;
  border-color: #ff851f;
  color: #FFF;
}

.btn-primary.active,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active,.btn-primary:active:focus,.btn-primary:active:hover,.btn-primary:focus,.btn-primary:hover {
  background-color: #18a689;
  border-color: #18a689;
  color: #FFF;
}

.btn-primary.active[disabled],.btn-primary[disabled],.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover {
  background-color: #1dc5a3;
  border-color: #1dc5a3;
}

.btn-success {
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: #FFF;
}

.btn-success.active,.btn-success.active:focus,.btn-success.active:hover,.btn-success:active,.btn-success:active:focus,.btn-success:active:hover,.btn-success:focus,.btn-success:hover {
  background-color: #1a7bb9;
  border-color: #1a7bb9;
  color: #FFF;
}

.btn-success.active[disabled],.btn-success[disabled],.btn-success[disabled]:active,.btn-success[disabled]:focus,.btn-success[disabled]:hover {
  background-color: #1f90d8;
  border-color: #1f90d8;
}

.btn-default {
  color: inherit;
  background: #fff;
  border: 1px solid #e7eaec;
}

.btn-link.active,.btn-link:active {
  background-image: none;
}

.btn-default.active,.btn-default.active:focus,.btn-default.active:hover,.btn-default:active,.btn-default:active:focus,.btn-default:active:hover,.btn-default:focus,.btn-default:hover {
  color: inherit;
  border: 1px solid #d2d2d2;
}

.btn-default.active[disabled],.btn-default[disabled],.btn-default[disabled]:active,.btn-default[disabled]:focus,.btn-default[disabled]:hover {
  color: #cacaca;
}

.btn-link {
  color: inherit;
}

.btn-link.active,.btn-link:active,.btn-link:focus,.btn-link:hover {
  color: #ff851f;
  text-decoration: none;
}

.btn-link.active[disabled],.btn-link[disabled],.btn-link[disabled]:active,.btn-link[disabled]:focus,.btn-link[disabled]:hover {
  color: #cacaca;
}

.form-control,.form-control:focus,.has-error .form-control:focus,.has-success .form-control:focus,.navbar-collapse,.navbar-form {
  box-shadow: none;
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

.btn-rounded {
  border-radius: 50px;
}

.btn:focus {
  outline: 0!important;
}

a.list-group-item.active,a.list-group-item.active:focus,a.list-group-item.active:hover {
  background-color: #ff851f;
  border-color: #ff851f;
  color: #FFF;
  z-index: 2;
}

.list-group-item-text {
  margin: 0 0 10px;
  color: inherit;
  font-size: 12px;
  line-height: inherit;
}

.list-group-item {
  background-color: inherit;
  border: 1px solid #e7eaec;
  display: block;
  margin-bottom: -1px;
  padding: 10px 15px;
  position: relative;
}

.h-150 {
  min-height: 150px;
}

.h-200 {
  min-height: 200px;
}

.img-circle {
  border-radius: 50%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

.glyphicon.fa {
  font-family: FontAwesome;
}

.inline {
  display: inline-block!important;
}

.input-s-sm {
  width: 120px;
}

.input-s {
  width: 200px;
}

.input-s-lg {
  width: 250px;
}

.form-control {
  background-color: #FFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
  font-size: 14px;
}

.form-control:focus {
  border-color: #ff851f!important;
}

.has-success .form-control {
  border-color: #ff851f;
}

.has-error .form-control {
  border-color: #ed5565;
}

#wrapper,body {
  overflow-x: hidden;
}

.google-map {
  height: 300px;
}

.form-control.error {
  border: 1px dotted #cc5965;
}

.img-container {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.slick-next:before,.slick-prev:before {
  color: #ff851f!important;
}

body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2f4050;
  font-size: 13px;
  color: #676a6c;
}

body,html {
  height: 100%;
}

a {
  cursor: pointer;
}

a:focus,a:hover {
  text-decoration: none;
}

.font-bold {
  font-weight: 600;
}

#wrapper {
  width: 100%;
}

.wrapper {
  padding: 0 20px;
}

.wrapper-content {
  padding: 20px 10px 40px;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  position: relative!important;
}

@media (min-width:768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 240px;
    min-height: 2002px;
  }
}

.ibox-content h1,.ibox-content h2,.ibox-content h3,.ibox-content h4,.ibox-content h5,.ibox-title h1,.ibox-title h2,.ibox-title h3,.ibox-title h4,.ibox-title h5 {
  margin-top: 5px;
}

.link-block,.nav.navbar-top-links .link-block a {
  font-size: 12px;
}

.ibox-content.text-box {
  padding-bottom: 0;
  padding-top: 15px;
}

.link-block {
  padding: 10px;
}

.link-block a {
  font-size: 10px;
  color: inherit;
}

code {
  background-color: #F9F2F4;
  border-radius: 4px;
  color: #ca4440;
  font-size: 90%;
  padding: 2px 4px;
}

.ibox-content,.ibox-title {
  background-color: #fff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox.collapsed .ibox-content {
  display: none;
}

.ibox:after,.ibox:before {
  display: table;
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.ibox-content {
  color: inherit;
  padding: 15px 20px 20px;
  border-width: 1px 0;
  clear: both;
}

.ibox-title h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: left;
}

.gray-bg {
  background-color: #f3f3f4;
}

.navy-bg {
  background-color: #ff851f;
  color: #fff;
}

.text-navy {
  color: #ff851f;
}

.text-primary {
  color: inherit;
}

.text-success {
  color: #1c84c6;
}

.contact-box {
  background-color: #fff;
}

.p-xs {
  padding: 10px;
}

.p-sm {
  padding: 15px;
}

.p-m {
  padding: 20px;
}

.p-lg {
  padding: 30px;
}

.m-xs {
  margin: 5px;
}

.m-sm {
  margin: 10px;
}

.m {
  margin: 15px;
}

.m-lg {
  margin: 30px;
}

.m-n {
  margin: 0!important;
}

.m-t-none {
  margin-top: 0;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-sm {
  margin-top: 10px;
}

.m-t {
  margin-top: 15px;
}

.m-t-lg {
  margin-top: 30px;
}

.m-t-n-xs {
  margin-top: -5px;
}

.m-t-n-sm {
  margin-top: -10px;
}

.m-t-n {
  margin-top: -15px;
}

.m-t-n-lg {
  margin-top: -30px;
}

.m-b-none {
  margin-bottom: 0;
}

.m-b-xs {
  margin-bottom: 5px;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-b {
  margin-bottom: 15px;
}

.m-b-lg {
  margin-bottom: 30px;
}

.m-b-n-xs {
  margin-bottom: -5px;
}

.m-b-n-sm {
  margin-bottom: -10px;
}

.m-b-n {
  margin-bottom: -15px;
}

.m-b-n-lg {
  margin-bottom: -30px;
}

.block {
  display: block!important;
}

.search-form {
  margin-top: 10px;
}

.contact-box {
  border: 1px solid #e7eaec;
  padding: 20px;
  margin-bottom: 20px;
}

.contact-box>a {
  color: inherit;
}

.middle-box {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 40px;
}

.middle-box h1 {
  font-size: 170px;
}

.wrapper .middle-box {
  margin-top: 140px;
}

.blog h2 {
  font-weight: 700;
}

.contact-type {
  width: 20px;
  color: #c1c3c4;
}

.blog .btn,.blog h5 {
  margin: 0 0 5px;
}

.social-avatar {
  padding: 15px 15px 0;
}

.social-avatar img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.social-body {
  padding: 15px;
}

.social-body img {
  margin-bottom: 10px;
}

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0);
  }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
  }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0);
  }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
  }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@-webkit-keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes sk-waveStretchDelay {
  0%, 100%, 40% {
    -webkit-transform: scaleY(.4);
    transform: scaleY(.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes sk-waveStretchDelay {
  0%, 100%, 40% {
    -webkit-transform: scaleY(.4);
    transform: scaleY(.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes sk-wanderingCubeMove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(.5);
    transform: translateX(42px) rotate(-90deg) scale(.5);
  }

  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    transform: translateX(42px) translateY(42px) rotate(-179deg);
  }

  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  75% {
    -webkit-transform: translateX(0) translateY(42px) rotate(-270deg) scale(.5);
    transform: translateX(0) translateY(42px) rotate(-270deg) scale(.5);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes sk-wanderingCubeMove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(.5);
    transform: translateX(42px) rotate(-90deg) scale(.5);
  }

  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    transform: translateX(42px) translateY(42px) rotate(-179deg);
  }

  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  75% {
    -webkit-transform: translateX(0) translateY(42px) rotate(-270deg) scale(.5);
    transform: translateX(0) translateY(42px) rotate(-270deg) scale(.5);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes sk-threeBounceDelay {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-threeBounceDelay {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes sk-circleBounceDelay {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 100%, 70% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 100%, 70% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 100%, 39% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%, 100%, 39% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

body.landing-page {
  color: #676a6c;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  background-color: #fff;
}

.landing-page span.navy {
  color: #ff851f;
}

.landing-page p.text-color {
  color: #676a6c;
}

.landing-page a.navy-link {
  color: #ff851f;
  text-decoration: none;
}

.landing-page a.navy-link:hover {
  color: #ff851f;
}

.landing-page section p {
  color: #aeaeae;
  font-size: 13px;
}

.landing-page h1 {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 200;
}

.landing-page .navy-line {
  width: 60px;
  height: 1px;
  margin: 60px auto 0;
  border-bottom: 2px solid #ff851f;
}

.landing-page .navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
}

.landing-page .navbar-wrapper>.container {
  padding-right: 0;
  padding-left: 0;
}

.landing-page .navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.landing-page .navbar-default.navbar-scroll {
  background-color: #fff;
  border-color: #fff;
  padding: 15px 0;
}

.landing-page .navbar-default {
  background-color: transparent;
  border-color: transparent;
  transition: all .3s ease-in-out 0s;
}

.landing-page .navbar-default .nav li a {
  color: #fff;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
}

.landing-page .navbar-nav>li>a {
  padding-top: 25px;
  border-top: 6px solid transparent;
}

.landing-page .navbar-default .navbar-nav>.active>a,.landing-page .navbar-default .navbar-nav>.active>a:hover {
  background: 0 0;
  color: #fff;
  border-top: 6px solid #ff851f;
}

.landing-page .navbar-default .navbar-nav>li>a:focus,.landing-page .navbar-default .navbar-nav>li>a:hover {
  color: #ff851f;
  background: inherit;
}

.landing-page .navbar-default .navbar-nav>.active>a:focus {
  background: 0 0;
  color: #fff;
}

.landing-page .navbar-default.navbar-scroll .navbar-nav>.active>a:focus {
  background: 0 0;
  color: inherit;
}

.landing-page .navbar-default .navbar-brand:focus,.landing-page .navbar-default .navbar-brand:hover {
  background: #ff851f;
  color: #fff;
}

.landing-page .navbar-default .navbar-brand {
  color: #fff;
  height: auto;
  display: block;
  font-size: 14px;
  background: #ff851f;
  padding: 15px 20px;
  border-radius: 0 0 5px 5px;
  font-weight: 700;
  transition: all .3s ease-in-out 0s;
}

.landing-page .navbar-scroll.navbar-default .nav li a {
  color: #676a6c;
}

.landing-page .navbar-scroll.navbar-default .nav li a:hover {
  color: #ff851f;
}

.landing-page .navbar-wrapper .navbar.navbar-scroll {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #e7eaec;
  border-radius: 0;
}

.landing-page .nav>li.active {
  border: none;
  background: inherit;
}

.landing-page .nav>li>a {
  padding: 25px 10px 15px;
}

.landing-page .navbar-scroll .navbar-nav>li>a {
  padding: 20px 10px;
}

.landing-page .navbar-fixed-top {
  border: none!important;
}

.landing-page .navbar-fixed-top.navbar-scroll {
  border-bottom: 1px solid #e7eaec!important;
}

.landing-page .navbar.navbar-scroll .navbar-brand {
  margin-top: 15px;
  border-radius: 5px;
  font-size: 12px;
  padding: 10px;
  height: auto;
}

.landing-page .header-back {
  height: 470px;
  width: 100%;
}

.landing-page .header-back.one {
  background: url(../img/landing/header_one.jpg) 50% 0 no-repeat;
}

.landing-page .header-back.two {
  background: url(../img/landing/header_two.jpg) 50% 0 no-repeat;
}

.landing-page .carousel {
  height: 470px;
}

.landing-page .carousel-caption {
  z-index: 10;
}

.landing-page .carousel .item {
  height: 470px;
  background-color: #777;
}

.landing-page .carousel-inner>.item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 470px;
}

.landing-page .carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.landing-page .carousel-fade .carousel-inner .active {
  opacity: 1;
}

.landing-page .carousel-fade .carousel-inner .active.left,.landing-page .carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.landing-page .carousel-fade .carousel-inner .next.left,.landing-page .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.landing-page .carousel-fade .carousel-control {
  z-index: 2;
}

.landing-page .carousel-control.left,.landing-page .carousel-control.right {
  background: 0 0;
}

.landing-page .carousel-control {
  width: 6%;
}

.landing-page .carousel-inner .container {
  position: relative;
}

.landing-page .carousel-inner {
  overflow: visible;
}

.landing-page .carousel-caption {
  position: absolute;
  top: 100px;
  left: 0;
  bottom: auto;
  right: auto;
  text-align: left;
}

.landing-page .carousel-caption.blank {
  top: 140px;
}

.landing-page .carousel-image {
  position: absolute;
  right: 10px;
  top: 150px;
}



.landing-page .carousel-caption h1 {
  font-weight: 700;
  font-size: 38px;
  text-shadow: none;
  letter-spacing: -1.5px;
}

.landing-page .carousel-caption p {
  font-weight: 700;
  text-shadow: none;
}

.landing-page .caption-link {
  color: #fff;
  margin-left: 10px;
  text-transform: capitalize;
  font-weight: 400;
}

.landing-page .caption-link:hover {
  text-decoration: none;
  color: inherit;
}

.landing-page .features-block,.landing-page .features-text {
  margin-top: 40px;
}

.landing-page .features h2 {
  font-size: 18px;
  margin-top: 5px;
}

.landing-page .features-icon {
  color: #ff851f;
  font-size: 40px;
}

.landing-page .navy-section {
  margin-top: 60px;
  background: #ff851f;
  color: #fff;
  padding: 20px 0;
}

.landing-page .gray-section {
  background: #f4f4f4;
  margin-top: 60px;
}

.landing-page .team-member {
  text-align: center;
}

.landing-page .team-member img {
  margin: auto;
}

.landing-page .social-icon a {
  background: #ff851f;
  color: #fff;
  padding: 4px 8px;
  height: 28px;
  width: 28px;
  display: block;
  border-radius: 50px;
}

.landing-page .social-icon a:hover {
  background: #ff851f;
}

.landing-page .btn-primary {
  font-weight: 600;
  font-size: 14px;
}

.landing-page .testimonials {
  padding-top: 80px;
  padding-bottom: 90px;
  background-color: #ff851f;
  background-image: url(../img/landing/avatar_all.png);
}

.landing-page .contact {
  background-image: url(../img/landing/word_map.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-top: 60px;
}

.landing-page .btn-primary.btn-outline:hover,.landing-page .btn-success.btn-outline:hover {
  color: #fff;
}

.landing-page .btn-primary,.landing-page .btn-primary.active,.landing-page .btn-primary:active,.landing-page .btn-primary:focus,.landing-page .btn-primary:hover {
  background-color: #ff851f;
  border-color: #ff851f;
  color: #FFF;
}

.landing-page .btn-primary {
  padding: 10px 20px;
}

.landing-page .btn-primary.active,.landing-page .btn-primary:active {
  background-image: none;
}

.landing-page .btn-primary.active[disabled],.landing-page .btn-primary[disabled],.landing-page .btn-primary[disabled]:active,.landing-page .btn-primary[disabled]:focus,.landing-page .btn-primary[disabled]:hover {
  background-color: #1dc5a3;
  border-color: #1dc5a3;
}

@media (min-width:768px) {
  .landing-page .navbar-wrapper {
    margin-top: 20px;
  }

  .landing-page .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .landing-page .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
    border-radius: 4px;
  }

  .landing-page .carousel-caption p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
  }
}

@media (max-width:992px) {
  .landing-page .carousel-image {
    display: none;
  }
}

@media (max-width:768px) {
  .landing-page .carousel-caption,  .landing-page .carousel-caption.blank {
    left: 5%;
    top: 80px;
  }

  .landing-page .carousel-caption h1 {
    font-size: 28px;
  }

  .landing-page .navbar.navbar-scroll .navbar-brand {
    margin-top: 6px;
  }

  .landing-page .navbar-default {
    background-color: #fff;
    border-color: #fff;
    padding: 15px 0;
  }

  .landing-page .navbar-default .navbar-nav>.active>a:focus {
    background: 0 0;
    color: inherit;
  }

  .landing-page .navbar-default .nav li a {
    color: #676a6c;
  }

  .landing-page .navbar-default .nav li a:hover {
    color: #ff851f;
  }

  .landing-page .navbar-wrapper .navbar {
    padding-top: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7eaec;
    border-radius: 0;
  }

  .landing-page .nav>li>a {
    padding: 25px 10px 15px;
  }

  .landing-page .navbar-nav>li>a {
    padding: 20px 10px;
  }

  .landing-page .navbar .navbar-brand {
    margin-top: 6px;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    height: auto;
  }

  .landing-page .navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 5px;
  }

  .landing-page .navbar-default .navbar-nav>.active>a,  .landing-page .navbar-default .navbar-nav>.active>a:hover {
    color: inherit;
  }

  .landing-page .carousel-control {
    display: none;
  }

  .landing-page .navbar .navbar-header {
    display: block;
    float: none;
  }

  .landing-page .navbar .navbar-header .navbar-toggle {
    background-color: #fff;
    padding: 9px 10px;
    border: none;
  }
}